
@media screen and (min-width: 1024px){
    .hamburger{
        display: none;
    }

    .menu{
        flex-direction: row;
        position: relative;
    }

    .hero .container{
        flex-direction: row;
        align-items: center;

        & .hero-content{
            flex: 3;
            padding: 2rem;
            gap:2.5rem;

            & h2 {
                font-size: 1.5rem;
                line-height: 1.2;
            }

            & p{
                font-size: 2.5rem;
                line-height: 1.5;
            }
        }

        & .hero-image-container{
            flex:2;
            height: 350px;
            position: relative;
        }
    }

    .mission-vision-values{
        flex-direction: row;
    }

    .services-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-container{
        flex-direction:row;

        & .contact-info .contact-list {
            padding-top:2rem;
            & li{
                margin-bottom:2rem;

                 & span{
                    display: inline;
                }
            }
           
        }

        
    }
}